<footer class="home footer" style="margin-top:0;">
    <div class="container">
        <h2>Welcome to Asoview</h2>
        <div class="row">
            <div class="center-block">
                <div class="umbraco-forms-form newsletter umbraco-forms-News Letter Theme">
                    <div class="form-horizontal">
                        <div class="row">
                            <div class="col-md-12">
                                <a class="more-information-btn" href="./pages/english/contact.html">More Information</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer_btm">
            <dl class="footer_navigator">
                <dd><a href="/about-us">ABOUT US</a></dd>
                <dd><a href="/services">SERVICES</a></dd>
                <dd><a href="/news">NEWS</a></dd>
                <dd class="footer_navigator_logo">
                    <a href="/"><img width="50px" src="/images/logo.svg" alt="asoviewvn Logo"></a>
                </dd>
                <dd><a href="/staff">STAFF</a></dd>
                <dd><a href="/career">CAREERS</a></dd>
                <dd><a href="/contact">CONTACT</a></dd>
            </dl>
            <p>© 2018 ASOVIEW Viet Nam</p>
        </div>
    </div>
</footer>