<div id="loading-wrapper" class="loading loading--first">
    <div id="loading-progress" class="loading__bar"></div>
    <svg id="loading-logo1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 50 50.06"
         class="loading__logo loading__logo--first">
        <g id="logo1">
            <path class="logo1__path1"
                  d="M3.48,25l.19.32.09.16h0A24.13,24.13,0,0,0,7.52,12.86,13,13,0,0,0,4,3.84l-.2-.21h0l-.16.16a12.94,12.94,0,0,0-3.61,9v0c0,.28,0,.56,0,.84H0c0,.08,0,.16,0,.24v0c0,.1,0,.21,0,.31s0,.15,0,.23h0c0,.1,0,.19,0,.29h0c0,.12,0,.24,0,.36s0,.15,0,.23l0,.23h0q0,.26.07.52h0l0,.26h0v0l0,.26L.4,17v0l0,.17h0l.07.32.06.29c.07.31.15.62.23.93h0l0,.06,0,.16.16.53H1l.06.18h0l0,.1.11.31,0,.14h0l.06.17h0l.16.43.08.22,0,.07h0q.14.35.29.7h0L2,22l.14.31.3.65.15.3,0,.09v0l.35.68H3l0,0H3l.14.26.21.38h0l0,0h0Z"
                  style="opacity: 1;"></path>
            <path class="logo1__path2"
                  d="M6.78,29.87c3.69-4.82,6.78-10.19,6.78-17a13,13,0,0,0-3.53-9A12.16,12.16,0,0,0,6.81,1.42h0l-.09.05-.62.35h0l-.17.11h0l-.6.41-.2.15c-.2.15-.38.3-.57.46l-.19.15c-.19.17-.37.34-.54.52l.2.21a13,13,0,0,1,3.53,9A24.13,24.13,0,0,1,3.76,25.48l.39.65h0l.59.91h0l0,.06h0C5.43,28.07,6.09,29,6.78,29.87Z"
                  style="opacity: 1;"></path>
            <path class="logo1__path3"
                  d="M9.85,33.61l.65-.78c4.63-5.59,9.15-11.73,9.15-20a13,13,0,0,0-3.53-9A12,12,0,0,0,9.91.33h0L9.52.41,9.28.47,9,.53l-.1,0L8.82.6,8.44.72,8,.88,7.62,1l-.25.1-.12.06-.06,0-.37.19h0A12.16,12.16,0,0,1,10,3.84a13,13,0,0,1,3.53,9c0,6.82-3.09,12.2-6.78,17-.68-.89-1.34-1.8-2-2.73a69.9,69.9,0,0,0,4.34,5.7l.61.73.06.07h0Z"
                  style="opacity: 1;"></path>
            <path class="logo1__path4"
                  d="M16.12,3.84a13,13,0,0,1,3.53,9c0,8.25-4.52,14.39-9.15,20l-.65.78c.85,1,1.82,2.1,2.84,3.25C14,35.38,15.24,34,16.24,32.78c4.63-5.58,9.15-11.73,9.15-20a13,13,0,0,0-3.53-9A12,12,0,0,0,16.2.41,12.18,12.18,0,0,0,13.07,0a15.13,15.13,0,0,0-2,.14q-.57.08-1.12.2A12,12,0,0,1,16.12,3.84Z"
                  style="opacity: 1;"></path>
            <path class="logo1__path5"
                  d="M22.59,32.84c4.63-5.59,9.15-11.73,9.15-20a13,13,0,0,0-3.53-9A12,12,0,0,0,22.27.4,12.21,12.21,0,0,0,19.41.06,14.73,14.73,0,0,0,16.2.41a12,12,0,0,1,5.66,3.38,13,13,0,0,1,3.53,9c0,8.25-4.52,14.39-9.15,20-1,1.2-2.23,2.61-3.55,4.08-1-1.14-2-2.24-2.84-3.25l0,0h0l.07.08.05.06.55.64.07.08,0,0,.05.06h0l.72.82h0l.07.09.09.1.62.7,0,0,0,0,.08.09,0,0,.79.88,0,0,.77.86.06.06.08.09.07.08.73.81.09.1.84.92,0,0,0,0h0C18.33,37.73,20.81,35,22.59,32.84Z"
                  style="opacity: 1;"></path>
            <path class="logo1__path6"
                  d="M18.16,42.9l.71.76h0c3.33-3.54,7.24-7.81,9.75-10.83,4.63-5.59,9.15-11.73,9.15-20a13,13,0,0,0-3.53-9A12,12,0,0,0,28.39.42,12.2,12.2,0,0,0,25.45.06,14.75,14.75,0,0,0,22.27.4,12,12,0,0,1,28.2,3.84a13,13,0,0,1,3.53,9c0,8.25-4.52,14.39-9.15,20-1.78,2.13-4.25,4.89-6.73,7.58l.41.45.09.1.1.11.46.49.1.11.13.14.24.26.2.22,0,0,.33.36Z"
                  style="opacity: 1;"></path>
            <path class="logo1__path7"
                  d="M34.81,32.84c4.63-5.59,9.15-11.73,9.15-20a13,13,0,0,0-3.53-9A12,12,0,0,0,34.5.4,12.21,12.21,0,0,0,31.64.06a14.71,14.71,0,0,0-3.26.36,12,12,0,0,1,5.85,3.43,13,13,0,0,1,3.53,9c0,8.25-4.52,14.39-9.15,20-2.51,3-6.42,7.29-9.75,10.83l.85.91,0,0,1.5,1.58h0l.69.73C25.58,43.16,31.45,36.87,34.81,32.84Z"
                  style="opacity: 1;"></path>
            <path class="logo1__path8"
                  d="M46.47,3.84A12,12,0,0,0,37.68.06,14.75,14.75,0,0,0,34.5.4a12,12,0,0,1,5.93,3.44,13,13,0,0,1,3.53,9c0,8.25-4.52,14.39-9.15,20-3.36,4-9.23,10.32-12.86,14.1l-.69-.73c1.5,1.58,2.7,2.82,3.31,3.43l.39.42.39-.42c2.24-2.23,11.05-11.47,15.49-16.8,4.63-5.59,9.15-11.73,9.15-20A13,13,0,0,0,46.47,3.84Z"
                  style="opacity: 1;"></path>
        </g>
    </svg>

    <svg id="loading-logo2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 50 50.01"
         class="loading__logo loading__logo--last">
        <g id="logo2">
            <path d="M37.23,0a12.77,12.77,0,0,0-3,.39h0a12.23,12.23,0,0,0-6.1,0h0a12.23,12.23,0,0,0-6.1,0h0a12.22,12.22,0,0,0-6.1,0h0a12.81,12.81,0,0,0-3-.39,12.8,12.8,0,0,0-3,.38h0l-.11,0h0l-.15,0h0a12.62,12.62,0,0,0-2.9,1.19h0l-.13.07h0l-.13.08h0a12.74,12.74,0,0,0-3,2.42h0l-.1.12v0l-.3.34h0A12.75,12.75,0,0,0,0,12.77,23.61,23.61,0,0,0,3,24.09H3l.14.26h0l.47.86v0A42,42,0,0,0,6,28.81H6l.24.32.43.58h0c.69.91,1.45,1.87,2.36,3H9l.07.08,0,.06.58.7h0c.68.8,1.46,1.71,2.34,2.69h0l.3.33,0,0,.4.45h0c.74.83,1.52,1.69,2.33,2.57h0l.33.36h0l.38.42h0l2.32,2.5h0l.34.37.24.26.15.16h0L21.2,46.1h0l.35.37h0l.39.41h0C23.06,48,24,49,24.62,49.63L25,50l.38-.38c2.22-2.22,11.09-11.49,15.49-16.8C45.49,27.22,50,21.06,50,12.77A12.78,12.78,0,0,0,37.23,0ZM19.78,42.71l.1-.1.46-.49.11-.12.45-.48.16-.17.42-.45.19-.2.39-.42.22-.24.38-.41.24-.26.36-.39.26-.28.35-.39.27-.29.35-.38.26-.29.35-.39.25-.28.36-.4.24-.27.36-.41.22-.25.38-.43.19-.22.39-.45.16-.18.44-.52.08-.1.5-.59c.72-.88,1.44-1.77,2.14-2.68,3.78-4.91,7-10.39,7-17.38q0-.42,0-.83s0-.09,0-.13c0-.24,0-.47-.07-.7V11a12.73,12.73,0,0,0-5.46-8.8L32.76,2l.13-.05.57-.21.13,0,.59-.17.2.06.2.06.26.09.21.07.23.09.23.09.2.08.26.11.15.07.29.14.1.05.33.18,0,0a11.7,11.7,0,0,1,5.9,9.66c0,.16,0,.33,0,.49a22.77,22.77,0,0,1-3,11.11l-.05.1-.06.11a54.69,54.69,0,0,1-5.75,8.06c-3.59,4.34-9.94,11-12,13.19l-2.32-2.45ZM17.2,38.89h0l.86-.95.09-.1L18.9,37l.14-.15.65-.73.17-.19.58-.66.18-.2.55-.63.15-.17.53-.62.11-.13.58-.69c4-4.91,8-10.24,8.93-17q0-.36.09-.73.08-.74.1-1.51c0-.25,0-.51,0-.77s0-.38,0-.56,0-.17,0-.25,0-.21,0-.31,0-.21,0-.32,0-.15,0-.23,0-.24-.05-.36l0-.18c0-.13,0-.26-.07-.38l0-.15-.1-.39,0-.14c0-.13-.07-.26-.11-.39l0-.13c0-.13-.08-.26-.13-.39l0-.14-.14-.37-.06-.15-.15-.35-.07-.16-.16-.33-.1-.19L30,6.6l-.13-.22-.15-.25-.16-.25-.14-.21-.2-.29-.12-.17-.25-.32-.09-.12,0,0L29,4.5l.22-.22.48-.43.17-.14q.33-.27.67-.51L30.76,3l.36-.23.19.12.32.21.3.22.32.24.26.21.33.29.2.19.35.35.15.16.37.41.1.12c.13.16.26.32.38.48l.05.07c.13.18.26.36.38.55l0,0a11.84,11.84,0,0,1,1.48,3.35h0q.09.35.16.71l0,.1c0,.21.07.42.1.63s0,.18,0,.28,0,.31,0,.47,0,.51,0,.76c0,7.93-4.39,13.92-8.89,19.38l-.49.58-.15.18-.36.43-.21.24-.33.38-.24.28-.31.36-.28.31-.3.34-.29.33-.3.33-.29.32-.32.36-.27.3-.34.37-.26.29-.36.4-.23.25-.4.44-.18.2-.45.49-.14.15-.5.54-.07.07-1.87,2-2.33-2.51Zm-1.37-.09-2.34-2.58.41-.46,0,0,.37-.42.06-.07.33-.37.09-.11.28-.32.13-.15.24-.28.15-.18.19-.23.2-.24.13-.15.32-.38c4.59-5.57,9.07-11.7,9.13-19.9h0v-.16c0-.17,0-.34,0-.51s0-.15,0-.23,0-.18,0-.27,0-.2,0-.3l0-.2c0-.11,0-.23.05-.34l0-.14c0-.12,0-.25.07-.37l0-.11c0-.13.06-.26.09-.39l0-.08q.05-.21.11-.41l0-.06L26.18,9v0l.16-.43v0L26.54,8h0a11.73,11.73,0,0,1,1.09-1.93l.14-.2.13-.17.15-.2.11.13.19.25.07.1a11.64,11.64,0,0,1,1.15,2h0l.18.43v0l.16.42,0,0,.13.41,0,.06c0,.13.08.27.11.4l0,.08c0,.13.06.26.09.39l0,.11.07.36,0,.15c0,.11,0,.22,0,.33l0,.2c0,.1,0,.19,0,.29s0,.18,0,.27,0,.15,0,.23,0,.34,0,.51,0,.49,0,.74C30.33,20.34,26.84,25.72,23,30.6l-1.26,1.55-.57.68-.26.3-.38.44-.23.26-.47.54-.19.21-.56.64-.19.22-.6.67-.28.31-.53.59-.5.55-.31.34Zm-3.06-3.39c-.9-1-1.69-1.93-2.36-2.73,4.14-5,8.17-10.53,8.9-17.63h0c0-.23,0-.45.06-.68V14.3c0-.21,0-.43,0-.65,0,0,0-.07,0-.11,0-.2,0-.41,0-.61h0v-.16c0-.17,0-.34,0-.51s0-.15,0-.22,0-.19,0-.28,0-.19,0-.29l0-.2c0-.11,0-.22,0-.33l0-.15.07-.36,0-.12.09-.38,0-.09c0-.13.07-.26.11-.39l0-.07.13-.4,0-.05.15-.41,0,0L20.43,8V8l.2-.42h0a11.69,11.69,0,0,1,.9-1.51l.12-.17.15-.2.14-.18.12.15.17.23.09.13a11.78,11.78,0,0,1,1.13,2h0q.1.21.18.43v0l.16.42,0,0c0,.14.09.27.13.41l0,.06c0,.13.08.27.11.4l0,.09c0,.13.06.26.09.38l0,.11c0,.12,0,.24.07.36l0,.15c0,.11,0,.22,0,.34s0,.13,0,.2,0,.19,0,.29,0,.18,0,.27,0,.15,0,.23,0,.34,0,.51c0,7.93-4.39,13.92-8.89,19.38l-.3.37-.19.23-.13.15-.25.29-.08.1-.3.35,0,0ZM4.33,23.85l.17-.34.19-.38.16-.34L5,22.42l.15-.33.16-.38.14-.33L5.63,21l.12-.32.14-.4L6,20l.13-.41.1-.3.12-.42.08-.3.11-.43.07-.29c0-.14.06-.29.09-.43l.06-.28c0-.15.05-.29.08-.44l0-.27c0-.15,0-.3.07-.45l0-.27c0-.15,0-.31.05-.46l0-.26c0-.16,0-.32,0-.48s0-.17,0-.25,0-.34,0-.52,0-.14,0-.21,0-.38,0-.57h0v-.16c0-.17,0-.34,0-.51s0-.15,0-.23,0-.18,0-.27l0-.3c0-.06,0-.13,0-.19s0-.23.05-.34,0-.09,0-.14,0-.25.07-.37l0-.1q0-.2.09-.4l0-.07c0-.14.07-.28.12-.41v0c0-.14.09-.29.14-.43v0c.05-.15.11-.29.16-.44H8A11.74,11.74,0,0,1,9.32,6.06l.11-.15.15-.2.14-.18.14.18.15.2.11.15a11.65,11.65,0,0,1,1.12,2h0l.18.43v0l.16.42V9c0,.14.09.27.13.41l0,.06.11.4,0,.08.09.39,0,.11c0,.12,0,.24.07.36l0,.15c0,.11,0,.22,0,.34l0,.2c0,.1,0,.19,0,.29s0,.18,0,.27,0,.15,0,.22,0,.1,0,.16,0,.23,0,.35c0,.39,0,.76,0,1.14,0,0,0,.06,0,.09,0,.34,0,.67-.08,1l0,.21c0,.29-.07.57-.12.85,0,.12,0,.24-.06.36s-.08.45-.13.68-.12.55-.19.83l0,.19a27.39,27.39,0,0,1-3.72,8.09v0l-.32.48-.25.37-.17.24-.38.53,0,.06A39.41,39.41,0,0,1,4.2,24.09ZM24.07,1.11a10.84,10.84,0,0,1,1.86,0l-.4.19,0,0L25,1.57h0l-.47-.25-.05,0Zm6.12,0a10.85,10.85,0,0,1,1.86,0l-.39.18-.06,0-.47.24h0l-.47-.25-.05,0ZM14.41,2l.14-.05.57-.21.12,0,.59-.17.58.17.15,0,.55.2.15.06.56.25,0,0-.11.08q-.33.24-.65.49l-.15.12c-.23.19-.45.39-.67.59l-.13.13-.23.22h0l-.22-.21-.15-.15q-.32-.3-.66-.59l-.16-.13c-.21-.17-.43-.33-.65-.49l-.1-.07,0,0Zm6.25-.05.57-.21.13,0,.59-.17.59.17.14,0,.55.2.15.06.56.25,0,0-.11.08c-.22.16-.44.32-.64.49L23,2.95q-.34.29-.67.59l-.13.13L22,3.9h0l-.23-.22-.13-.13q-.33-.31-.67-.6l-.14-.11q-.32-.26-.66-.5L20,2.26l0,0L20.52,2Zm6.12,0,.56-.2.14,0,.58-.17.59.17.13,0,.57.21.13.05.57.25,0,0-.11.08c-.22.16-.44.32-.65.49l-.15.12c-.23.19-.45.39-.66.59l-.14.14-.22.22h0L28,3.83l-.33-.33-.14-.13-.32-.28L27.05,3l-.39-.31-.07-.06-.48-.35,0,0L26.64,2Zm.3,3.14-.13.16a12.9,12.9,0,0,0-1.26,2.13l0,.06q-.11.24-.22.49L25.39,8c-.06.14-.11.28-.16.42l-.07.2L25,9l0,.14L25,9c0-.14-.09-.28-.14-.41l-.05-.15q-.08-.23-.17-.45l0-.11-.22-.49,0-.06c-.09-.18-.18-.37-.27-.55h0a12.74,12.74,0,0,0-1-1.58l-.11-.15-.25-.32,0,0,.22-.23.2-.2c.17-.16.34-.32.52-.47l.13-.11q.34-.28.69-.52l.16-.11.4-.26.38.24.19.12q.35.25.69.52l.14.12.51.45.21.2.22.23,0,0ZM21,5l-.17.23a12.71,12.71,0,0,0-1,1.57v0l-.26.52,0,.08-.21.47L19.27,8l-.16.42L19,8.62c0,.13-.09.26-.13.38l0,.11,0-.12-.12-.38-.06-.18L18.49,8l0-.12c-.07-.17-.14-.33-.22-.49l0-.06a12.77,12.77,0,0,0-1.26-2.12l-.13-.17-.23-.3,0,0,.21-.22L17,4.28l.49-.44.16-.14c.22-.18.45-.35.68-.51l.21-.14.37-.23.39.25.18.12q.35.25.69.52l.14.12q.26.22.51.46L21,4.5l.21.22,0,0Zm-6.2.1-.08.11a12.89,12.89,0,0,0-1.27,2.13l0,0-.23.51,0,.1L13,8.46l-.06.16L12.8,9l0,.11,0-.14-.12-.35-.07-.2L12.38,8l-.05-.13-.21-.48,0-.06a12.76,12.76,0,0,0-1.27-2.13l-.06-.08-.3-.39,0,0,.21-.22.21-.21c.16-.16.34-.31.51-.45l.14-.12c.22-.18.45-.35.69-.52l.2-.13.38-.24.36.23.22.15c.23.16.46.33.68.51l.16.14.49.44.22.21.21.22,0,0ZM19.41,1.3l0,0-.47.25h0l-.48-.25,0,0L18,1.11a10.85,10.85,0,0,1,1.86,0Zm-6-.05-.22.11-.41.22h0q-.45-.25-.92-.46c.31,0,.63,0,.93,0s.62,0,.93,0Zm-3.7.25a11.6,11.6,0,0,1,2,.74l-.35.26A12.92,12.92,0,0,0,9.73,3.9l0,0,0,0a12.76,12.76,0,0,0-2-1.67A11.54,11.54,0,0,1,9.71,1.5ZM9,4.72l-.1.12L8.79,5l-.29.39-.1.15-.27.41L8,6.06l-.28.48,0,.08a12.62,12.62,0,0,0-.58,1.2l0,.1c-.07.16-.13.33-.19.49l-.07.2c0,.13-.09.26-.13.4l0,.13A12.91,12.91,0,0,0,4.31,4.71,11.68,11.68,0,0,1,6.65,2.82,11.67,11.67,0,0,1,9,4.72Zm-2.88,8h0c0,.23,0,.45,0,.68v.2c0,.16,0,.32,0,.47s0,.16,0,.24,0,.29,0,.44L6,15c0,.15,0,.29,0,.44l0,.24c0,.15,0,.29-.07.44l0,.23c0,.15-.05.3-.08.44l0,.23-.1.45-.05.22-.12.46-.05.2-.14.48-.05.18c-.05.17-.11.35-.17.52l0,.14-.24.67h0q-.13.34-.26.67l-.07.16-.21.5L4,22l-.18.4-.14.29-.13.26A22.27,22.27,0,0,1,1.07,12.77,11.67,11.67,0,0,1,3.59,5.54,11.66,11.66,0,0,1,6.12,12.76ZM7.77,28.19,7.88,28,8,27.91c2.6-3.72,5.29-8.66,5.34-15h0v-.16c0-.17,0-.34,0-.51s0-.15,0-.23,0-.18,0-.27,0-.2,0-.29l0-.2c0-.11,0-.22,0-.33l0-.15.07-.36,0-.12c0-.13.06-.25.09-.38l0-.09.11-.39,0-.07c0-.13.08-.27.13-.4l0-.06c0-.14.1-.27.15-.4l0,0L14.31,8l0,0,.19-.4,0,0a11.72,11.72,0,0,1,.83-1.4l.18-.26.11-.14.17-.23.12.15.17.22.1.15a11.72,11.72,0,0,1,.91,1.53h0l.19.41,0,0,.17.41,0,0,.15.41,0,.06.13.4,0,.08.11.39,0,.1c0,.12.06.25.09.38l0,.12.07.36,0,.16c0,.11,0,.22,0,.33s0,.13,0,.2,0,.19,0,.29,0,.18,0,.28,0,.15,0,.22,0,.34,0,.51,0,.49,0,.74v.05c-.26,7-4,12.55-8,17.55h0l-.39.47-.05.07-.15.18c-.93-1.13-1.69-2.1-2.39-3ZM26.43,42.13h0l.39-.42,0,0,.41-.44h0l.42-.45h0l.41-.44,0,0,.41-.44,0,0,.41-.45,0,0,.4-.43.06-.07.38-.41.07-.08.36-.4.09-.1.35-.38.11-.12.33-.36.13-.14.3-.34.15-.17L32,36l.17-.19.25-.28.2-.23.21-.24.22-.26.18-.21.24-.28.16-.18.28-.32L34,33.7l.31-.37.06-.07.36-.43c4.62-5.61,9.13-11.77,9.13-20.06,0-.17,0-.33,0-.5s0-.17,0-.25,0-.15,0-.23,0-.24,0-.36v-.09a12.76,12.76,0,0,0-6.64-9.81l-.07,0-.33-.17-.19-.09-.24-.11h0c.31,0,.62,0,.93,0a11.71,11.71,0,0,1,11.7,11.7c0,7.93-4.39,13.92-8.89,19.38C36,37.05,27.86,45.59,25,48.49c-.61-.62-1.42-1.46-2.32-2.39C23.52,45.22,24.88,43.8,26.43,42.13Z"></path>
        </g>
    </svg>
</div>
<script>
  (function (d) {
    const readyStatus = {
      loading: 70,
      interactive: 90,
      complete: 100
    }
    let timeRun = 20
    let loadingElement = d.getElementById('loading-progress')
    let loadingWrapper = d.getElementById('loading-wrapper')
    let loadingLogo1 = d.getElementById('loading-logo1')
    let loadingLogo2 = d.getElementById('loading-logo2')

    let percentage = 0
    let newInterval = null
    let interval = setInterval(function () {
      if (percentage <= readyStatus.loading) {
        loadingElement.style.width = `${++percentage}%`
      }
      if (percentage > 50) {
        timeRun = 250
        clearInterval(interval)
        newInterval = setInterval(function () {
          if (percentage <= readyStatus.loading) {
            loadingElement.style.width = `${++percentage}%`
          }
        }, timeRun)
      }
    }, timeRun)

    d.onreadystatechange = function () {
      clearInterval(interval)
      clearInterval(newInterval)
      loadingElement.style.width = `${readyStatus[d.readyState]}%`
      if (d.readyState === 'complete') {
        loadingElement.style.transition = 'opacity 0.3s ease, width 0.3s linear'
        loadingElement.style.width = `${readyStatus[d.readyState]}%`
        setTimeout(() => {
          loadingElement.style.opacity = 0
        }, 300)
        loadingLogo1.style.opacity = 0
        loadingLogo2.style.opacity = 1
        setTimeout(() => {
          loadingWrapper.style.opacity = 0
        }, 1000)
        setTimeout(() => {
          loadingWrapper.style.display = 'none'
        }, 1200)
      }
    }
  })(document)
</script>



