<footer class="footer">
    <div class="footer-asoview">
        <div class="row">
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                <div class="footer-asoview__left">
                    <p class="footer-asoview__lead">
                        FOOTER
                    </p>
                </div>
            </div>

            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                <div class="footer-asoview__right">

                </div>
            </div>

        </div>
    </div>
</footer>