.about-us {
  padding-top: 100px;
  &_top-background {
    color: white;
    background: url("https://i.imgur.com/4niWOlC.jpg");
    height: 600px;
    background-size: cover;
    width: 90%;
    position: relative;
    background-position: center;
    display: flex;
    align-items: center;
    padding-left: 150px;
    margin: auto;
    &_motto {
      border-radius: 5px;
      height: 400px;
      width: 25%;
      background-color: rgba(0, 0, 0, 0.3);
      display: flex;
      flex-direction: column;
      justify-content: center;
      h3{
        padding-left: 30px;
        padding-top: 5px;
      }
      p{
        padding: 0px 30px;
      }
    }
  }
  img{
    width: 75%;
    height: 400px;
  }
  h3{
    color: #e50012;
  }
  .left{
    margin-left: 10%;
  }
  .mt-70{
    margin-top: 70px !important;
  }
  .column-center{
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0px 70px !important;
  }
  &:last-child{
    margin-bottom: 50px!important;
  }
}
