
.l-contents{
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background: #f2f8fb;
}
.about-us {
  margin-top: 50px;
  width: 80%;
  margin: auto;
  background: #f2f8fb;
  line-height: 1.63;
  letter-spacing: .5px;
  &_title {
    margin-top: 20px;
  }
  &_top-background {
    color: white;
    background: url("https://i.imgur.com/B3JVfRo.jpg");
    height: 480px;
    background-size: cover;
    width: 100%;
    position: relative;
    background-position: center;
    display: flex;
    align-items: center;
    margin: auto;
  }

  h3 {
    line-height: 1.63;
    letter-spacing: .5px;
    color: #4b4949;
    font-size: 40px;
  }

  .left {
    margin-left: 10%;
  }

  &:last-child {
    margin-bottom: 50px !important;
  }

  .formation {
    padding: 20px 0;
    margin-bottom: 150px;
    width: 80%;
    color: #747c83;
    margin: auto;
    padding-bottom: 50px;
    p{
      font-size: 18px;
      color: #747c83;
    }
  }

  .our-mission {
    margin-bottom: 100px !important;
    color: #747c83;
    &-text {
      display: flex;
      align-items: center;
      &_child {
        text-align: left;
        height: 150px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 15px;
      }
    }
    &-image_left {
      img {
        width: 96%;
        &:nth-child(1) {
          margin-bottom: 10px;
          height: 245px;
        }
        &:nth-child(2){
          height: 245px;
        }
      }
    }
    &-image_right {
      width: 45%;
      height: 500px;

    }
  }

  .company-info {
    margin-bottom: 50px;
    text-align: left;
    padding: 15px;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #747c83;
    h3{
      color: #4b4949;
      padding-bottom: 20px;
    }
    table{
      border-collapse: collapse;
      tr{
        &:last-child{
          border-bottom: 1px solid #cfcfcf;
        }
      }
      td{
        border-top: 1px solid #cfcfcf;
        padding: 15px 0;
        &:first-child{
          border-right: none;
          padding-left: 10px;
        }
        &:last-child{
          border-left: none;
        }
      }
    }
  }

  .achievements {
    margin-bottom: 50px;
    text-align: left;
    padding: 15px !important;
    color: #747c83;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    h3{
      padding-bottom: 20px;
    }
    p{
      border-top: 1px solid #cfcfcf;
      padding: 15px 0;
      padding-left: 10px;
      &:last-child{
        border-bottom: 1px solid #cfcfcf;
      }
    }
    i{
      font-size: 10px;
      padding-left: 20px;
      padding-right: 20px;
    }
  }

  .career-info {
    &-wrapper {
      width: 80%;
      margin: auto;
      a {
        color: #4c4949;
      }
    }
    &-img {
      width: 100%;
      height: 300px;
    }
    &-title {
      font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
      width: 100%;
      transform: translate(0%, -50%);
      height: 60px;
      display: flex;
      align-items: center;
      padding-left: 10px;
      &_member{
        background: #dce858;
        margin: 0 0 0 50px;
        height: 80px;;
      }
      &_career{
        background: #f1749f;
        margin: 0 0 0 50px;
        height: 80px;
      }
      span{
        line-height: 1.5;
        font-size: 22px;
        font-weight: 300;
      }
      &:hover{
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
      }
    }
  }
}
