.contact {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background: #f2f8fb;
  padding: 20px;
  text-align: center;
  &-header{
    padding: 20px 0;
    font-size: 30px;
    line-height: 1.63;
    font-weight: 500;
    color: #4b4949;
  }
  &-content{
    width: 54%;
    margin: auto;
    text-align: left;
    margin-bottom: 20px;
    i{
      margin: 0px 5px;
    }
    strong{
      color: #4b4949;
    }
  }
  &-address, &-tel, &-email{
    padding: 5px 0;
    line-height: 1.5;
    letter-spacing: .5px;
    color: #747c83;
  }
  .world-branch {
    position: relative;
    width: 90%;
    height: 500px;
    margin: auto;
    padding-bottom: 20px;
    &-map {
      width: 100%;
      height: 100%;
    }
  }
  #contact-form{
    width: 80%;
    margin: auto;
  }
  .contact-form-title{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 15px 0;
    font-size: 30px;
    color: #7f8aea;
    line-height: 1.63;
    font-weight: 500;
  }
  .ebm-img-wrapper{
    position: absolute;
    bottom: 130px;
    right: 0;
  }
  .ebm-img{
    height: 300px;
    width: 200px;
  }
  .input-file {
    width: 100%;
    height: 49px;
    border: 1px solid #e4e4e4;
    font: normal 16px ralewayregular;
    color: #202020;
    border-radius: 2px;
    padding: 13px 24px;
    margin: 0 0 9px;
    background-color: white;
    .file {
      color: #777;
      width: 100%;
      border: none;
    }
  }
  &-textbox {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    line-height: 1.5;
    letter-spacing: .5px;
    width: 100%;
    height: 49px;
    border: 1px solid #e4e4e4;
    font: normal 16px ralewayregular;
    color: #747c83;
    border-radius: 2px;
    padding: 0 24px;
    margin: 0 0 9px;
    line-height: 52px;
    &-area {
      width: 100%;
      height: 250px;
      border: 2px solid #e4e4e4;
      font: normal 16px ralewayregular;
      color: #747c83;
      border-radius: 2px;
      padding: 15px 24px;
      margin: 0 0 9px;
      resize: none;
      overflow: hidden;
      display: block;
    }
    
  }
  ::-webkit-input-placeholder { 
    color:#747c83;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }

  .submit-btn {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    width: 15%;
    height: 44px;
    margin: 30px 0 30px 0;
    border: 1px solid #7f8aea;
    -webkit-appearance: none;
    cursor: pointer;
    font-size: 30px;
    color: #ffffff;
    text-transform: uppercase;
    line-height: 44px;
    border-radius: 2px;
    transition: all .3s ease;
    background: #7f8aea;
  }
}

.contact-textbox:focus, .contact-textbox-area:focus {
  border-color: cornflowerblue;
}

.submit-btn:hover {
  color: #7f8aea;
  background-color: white;
}
