.contact {
  padding: 20px;
  //&:before {
  //  background-color: #e50012;
  //  width: 2px;
  //  height: 50px;
  //  margin: 0 auto 25px;
  //  content: '';
  //  display: block;
  //}
  .world-branch {
    position: relative;
    width: 80%;
    height: 500px;
    margin: 0 20px;
    padding-bottom: 20px;
    &-map {
      width: 100%;
      height: 100%;
    }
  }
  .input-file {
    width: 100%;
    height: 49px;
    border: 1px solid #e4e4e4;
    font: normal 16px ralewayregular;
    color: #202020;
    border-radius: 2px;
    padding: 13px 24px;
    margin: 0 0 9px;
    background-color: white;
    .file {
      color: #777;
      width: 100%;
      border: none;
    }
  }
  &-textbox {
    width: 100%;
    height: 49px;
    border: 1px solid #e4e4e4;
    font: normal 16px ralewayregular;
    color: #202020;
    border-radius: 2px;
    padding: 0 24px;
    margin: 0 0 9px;
    line-height: 52px;
    &-area {
      width: 100%;
      height: 250px;
      border: 1px solid #e4e4e4;
      font: normal 16px ralewayregular;
      color: #202020;
      border-radius: 2px;
      padding: 15px 24px;
      margin: 0 0 9px;
      resize: none;
      overflow: hidden;
      display: block;
    }
  }
  .submit-btn {
    width: 100%;
    height: 44px;
    border: 1px solid #e50012;
    -webkit-appearance: none;
    cursor: pointer;
    font: normal 13px ralewayregular;
    color: #ffffff;
    text-transform: uppercase;
    line-height: 44px;
    border-radius: 2px;
    transition: all .3s ease;
    background: #e50012;
  }
}
