// remove default browser CSS
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

/* remember to define focus styles! */
:focus {
  outline: 0;
}

body {
  line-height: 1;
  color: black;
  background: white;
}

ol, ul {
  list-style: none;
  padding: 0;
  margin: 0 !important;
}

/* tables still need 'cellspacing="0"' in the markup */
table {
  border-collapse: separate;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
}

blockquote, q {
  quotes: "" "";
}

//common CSS

.nopadding {
  padding: 0 !important;
  margin: 0 !important;
}

.height-100 {
  height: 100%;
}

.flex {
  display: flex;
}

// header CSS

.header {
  height: 100px;
  position: fixed;
  z-index: 100;
  width: 100%;
  background-color: white;
}

.logo {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.img-logo {
  width: 55%;
}

.nav-menu {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: space-around;
  li {
    color: #e50012;
    font-family: -webkit-body;
    font-weight: 900;
    &:hover{
      color: #ff505d;
    }
  }
}

.user-control {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex > li {
  display: flex;
  align-items: center;
}

.header-icon {
  font-size: 20px;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #ccc;
  margin-right: 5px;
  border-radius: 50%;
}

.header-icon i.fa-facebook-f {
  color: #4267b2;
}

.header-icon i.fa-twitter {
  color: #1da1f3;
}

.header-icon i.fa-instagram {
  color: #9c3fce;
}

.icon-facebook:hover {
  background-color: #4267b2;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.icon-twitter:hover {
  background-color: #1da1f3;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.icon-instagram:hover {
  background-color: #9c3fce;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.icon-facebook:hover i, .icon-twitter:hover i, .icon-instagram:hover i {
  color: white;
}

.dropdown-toggle::after {
  //vertical-align: 0.4em !important;
}

.language-dropdown {
  border-radius: 5px;
}

.language-dropdown:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.language-icons {
  color: #e50012;
  font-size: 30px
}

.language-title {
  color: #e50012;
  font-size: 15px;
  &-icons{
    color: white;
    font-size: 15px;
    background-color: #e50012;
    border-radius: 2px;
    padding: 5px;
    font-weight: 900;
  }
}

.content {
  padding-top: 60px;
}

//footer CSS

.footer {
  background-color: #e50012;
  height: 400px;
}