.content{
  background-color: white;
}
.top-background {
  background: url("/images/company-banner.jpg");
  height: 550px;
  background-position: center;
  background-size: cover;
  width: 0%;
  position: relative;
  left: 20%;
  &-img {
    background-repeat: no-repeat !important;
    position: absolute;
    opacity: 0;
    &:nth-child(1) {
      height: 210px;
      width: 454px;
      top: 270px;
      left: -240px;
    }
    &:nth-child(2) {
      height: 90px;
      width: 240px;
      top: 170px;
      left: -240px;
    }
  }
}

.asoview_img {
  width: 224px;
  height: 230px;
  z-index: 1;
  position: absolute;
  &-a {
    left: 60%;
  }
  &-s {
    left: 20%;
    top: 680px;
  }
  &-o {
    top: 100px;
    left: 150%;
  }
  &-v {
    left: 20%;
  }
  &-i {
    bottom: 950px;
    left: 60%;
  }
  &-e {
    bottom: 680px;
    left: 20%;
  }
  &-w {
    bottom: 470px;
    left: 60%;
  }
}

.main-container {
  text-align: center;
  padding-top: 80px;
  position: relative;
  background-color: #ffffff;;
  &:before {
    background-color: #e50012;
    width: 2px;
    height: 50px;
    margin: 0 auto 25px;
    content: '';
    display: block;
  }
  h5 {
    color: #e50012;
  }

  //section mission
  .mission {
    padding: 20px 0;
    position: relative;
    z-index: 1;
    &-wrapper {
      display: flex;
      justify-content: center;
      background-color: #e50012;
      padding: 25px;
      width: 80%;
      margin: auto;
      opacity: 0;
      border-radius: 10px;
    }
    .ceo-img-wrapper {
      position: relative;
      overflow: hidden;
      .ceo-img {
        height: 420px;
        width: 300px;
        background-repeat: no-repeat !important;
        background-size: cover !important;
        background-position: center !important;
        transition: all 2s;
        &:hover {
          transform: scale(1.1);
        }
      }
    }
    .ceo-message {
      width: 30%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin-left: 10%;
      color: white;
    }
  }

  //section value
  .value {
    margin-top: 20px;
    background-color: #f2f8fb;;
    &:before {
      background-color: #e50012;
      width: 2px;
      height: 50px;
      margin: 0 auto 25px;
      content: '';
      display: block;
    }
    &-container {
      padding-bottom: 20px;
    }
    &-for-you {
      margin-top: 30px;
      transform: translateX(30%);
      width: 35%;
      z-index: 2;
    }
    &-challenge {
      transform: translate(150%, -25%);
      width: 35%;
      z-index: 2;
    }
    &-no1 {
      transform: translate(30%, -50%);
      width: 35%;
      z-index: 2;
    }
    &-item {
      margin: auto;
      width: 100%;
      position: relative;
      &:hover img {
        transform: scale(1.2);
      }
    }
    &-img {
      height: 360px;
      width: 500px;
      background-size: cover !important;
      transition: all 2s;
      position: relative;
      z-index: 2;
      &-wrapper {
        width: 100%;
        position: relative;
        overflow: hidden;
      }
    }
    &-title {
      border: 2px #e50012 solid;
      border-radius: 25px;
      width: 60%;
      margin: auto;
      margin-top: 5px;
      background-color: #f2f8fb;
      color: #e50012;
      &:hover {
        animation: changered 1s;
        animation-fill-mode: forwards;
      }
    }
  }

  //section product
  .product {
    background-color: #f2f8fb;

    &:before {
      background-color: #e50012;
      width: 2px;
      height: 50px;
      margin: 0 auto 25px;
      content: '';
      display: block;
    }
    &-background {
      background: url("/images/product_background.jpg");
      height: 550px;
      background-position: center;
      background-size: cover;
      position: relative;
      z-index: 2;
      width: 90%;
      margin: auto;
      //filter: blur(5px);
      margin-top: 40px;
      margin-bottom: 40px;
      opacity: 0;

    }
    &-container {
      position: absolute;
      bottom: 0px;
      z-index: 3;
      left: 22%;
      width: 55%;
      display: flex;
      transform: translateY(-20%);
      .our-product {
        background-color: #e50012;
        height: 400px;
        width: 80%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        color: white;
      }
      .product-list {
        display: grid;
        grid-template-columns: auto auto;
        padding-left: 10px;
        a {
          background-color: rgba(241, 248, 251, 0.37);
          margin: 5px 5px;
          &:nth-child(3) {
            transform: translateX(10%);
          }
          &:nth-child(4) {
            transform: translateX(10%);
          }
        }
        li {
          height: 200px;
          width: 200px;
          background-position: center !important;
          background-size: 160px 40px !important;
          background-repeat: no-repeat !important;
          //background-color: #fff !important;
        }
      }
    }
  }
}













