.content {
  background-color: white;
}

.top-background {
  height: -webkit-fill-available;
  background-position: center !important;
  background-size: cover !important;
  width: 0%;
  position: relative;
  &-img {
    background-repeat: no-repeat !important;
    position: absolute;
    opacity: 0;
    &:nth-child(1) {
      height: 210px;
      width: 454px;
      top: 60%;
      right: 35px;
    }
    &:nth-child(2) {
      height: 90px;
      width: 240px;
      top: 45%;
      right: 250px;
    }
  }
}

.asoview_img {
  width: 224px;
  height: 230px;
  z-index: 0;
  position: absolute;
  &-a {
    left: 60%;
  }
  &-s {
    left: 20%;
    top: 680px;
  }
  &-o {
    top: 25%;
    left: 60%;
  }
  &-v {
    left: 20%;
  }
  &-i {
    top: 1300px;
    left: 60%;
  }
  &-e {
    bottom: 1170px;
    left: 20%;
  }
  &-w {
    bottom: 1110px;
    left: 60%;
  }
}

.main-container {
  text-align: center;
  padding-top: 80px;
  position: relative;
  background-color: #ffffff;;
  &:before {
    background-color: #e50012;
    width: 2px;
    height: 50px;
    margin: 0 auto 25px;
    content: '';
    display: block;
  }
  h5 {
    color: #e50012;
    font-size: 24px;
  }

  //section mission
  .mission {
    padding: 20px 0;
    position: relative;
    z-index: 1;
    &-wrapper {
      display: flex;
      justify-content: center;
      background-color: #e04747;
      padding: 25px;
      width: 80%;
      margin: auto;
      opacity: 0;
      border-radius: 10px;
    }
    .ceo-img-wrapper {
      position: relative;
      overflow: hidden;
      .ceo-img {
        height: 420px;
        width: 300px;
        background-repeat: no-repeat !important;
        background-size: cover !important;
        background-position: center !important;
        transition: all 2s;
        &:hover {
          transform: scale(1.1);
        }
      }
    }
    .ceo-message {
      width: 40%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin-left: 10%;
      color: white;
    }
  }

  //section value
  .value {
    margin-top: 20px;
    background-color: #f2f8fb;;
    &:before {
      background-color: #e50012;
      width: 2px;
      height: 50px;
      margin: 0 auto 25px;
      content: '';
      display: block;
    }
    &-container {
      padding-bottom: 20px;
    }
    &-wrapper {
      z-index: 2;
    }
    .value-content {
      position: relative;
      width: 40%;
      height: 180px;
      z-index: 2;
    }
    &-for-you {
      .value-item {
        transform: translate(35%, 15%);
      }
      .value-content {
        transform: translate(15%, 55%);
      }
      .value-title{
        background-color: #EF6292;
      }
    }
    &-challenge {
      margin-top: 200px;
      .value-item {
        transform: translate(15%, 15%);
      }
      .value-content {
        transform: translate(35%,0%);
      }
      .value-title{
        background-color: #CDDB39;
      }
    }
    &-no1 {
      margin-top: 160px;
      .value-item {
        transform: translate(35%, 0%);
      }
      .value-content {
        transform: translate(15%, 25%);
      }
      .value-title{
        background-color: #50C3F7;
      }
    }
    &-item {
      width: 40%;
      position: relative;
      display: flex;
      justify-content: center;
      &:hover img {
        transform: scale(1.2);
      }
    }
    &-img {
      height: 370px;
      width: 580px;
      background-size: cover !important;
      transition: all 2s;
      position: relative;
      z-index: 2;
      &-wrapper {
        position: relative;
        overflow: hidden;
      }
    }
    &-title {
      margin: auto;
      margin-top: 5px;
      color: #ffffff;
      height: 370px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      background: #ffffff;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
      p:nth-child(1){
        font-size: 20px;
        padding-bottom: 10px;
      }
      p:nth-child(2){
        padding: 0px 20px;
        font-size: 18px;
      }
    }
  }

  //section product
  .product {
    background-color: #f2f8fb;
    padding-top: 120px;
    padding-bottom: 50px;
    &:before {
      background-color: #e50012;
      width: 2px;
      height: 50px;
      margin: 0 auto 25px;
      content: '';
      display: block;
    }
    &-background {
      background: url("/images/product_background.jpg");
      height: 550px;
      background-position: center;
      background-size: cover;
      position: relative;
      z-index: 2;
      width: 90%;
      margin: auto;
      filter: blur(3px);
      margin-top: 40px;
      margin-bottom: 40px;
      opacity: 0;

    }
    &-wrapper{
      position: relative;
      z-index: 2;
      display: flex;
      justify-content: center;
      width: 80%;
      margin:auto;
      height: 550px;
      margin-top: -590px;
    }
    &-container {
      position: absolute;
      z-index: 3;
      width: 100%;
      display: flex;
      align-items: center;
      height: 550px;
      justify-content: center;
      .our-product {
        background-color: #ce2532;
        height: 200px;
        width: 350px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        color: white;
        border-radius: 50%;
        font-family: initial;
        font-size: 24px;
      }
      .product-list {
        position: relative;
        display: grid;
        grid-template-columns: auto auto;
        grid-gap: 10px 100%;
        left: -100%;
        &-wrapper{
          position: absolute;
          left: 50%;
        }
        a {
          background-color: rgba(255, 255, 255, 0.43);
          margin: 5px 5px;
          border-radius: 10px;
          &:hover li{
            transform: scale(1.2);
          }
        }
        li {
          height: 200px;
          width: 200px;
          background-position: center !important;
          background-size: 160px 40px !important;
          background-repeat: no-repeat !important;

        }
      }
    }
  }
}

@media screen and (min-width: 1440px) {
  .top-background-img:nth-child(1) {
    top: 65%
  }
  .top-background-img:nth-child(2) {
    top: 50%;
  }
}













