h3 {
  color: #e50012;
}

.member {
  background: #f2f8fb;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  &-title{
    .asoview-member{
      font-size: 40px;
      margin-bottom: 40px;
      font-weight: 500;
      padding: 40px 0;
      color: #4b4949;
    }
  }
  &-container {
    line-height: 1.63;
    letter-spacing: .5px;
    display: grid;
    grid-template-columns: auto auto auto;
    margin: 20px auto 0;
    width: 93%;
    grid-gap: 15px;
    padding-bottom: 40px;
    grid-row-gap: 35px;
  }
  &-item {
    font-size: 30px;
    position: relative;
  }
  &-position{
    background-color: black;
    color: white;
    position: absolute;
    right: 70px;
    bottom: 25px;
    z-index: 2;
    padding: 5px;
    font-size: 25px;
  }
  &-photo-hover {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    font-size: 2.5rem;
    opacity: 0;
    transition: all .3s ease;
    img{
      height: 333px;
      width: 333px;
    }
  }
  &-photo {
    font-size: 30px;
    position: relative;
    img {
      max-width: 100%;
      border-radius: 50%;
      height: 250px;
      width: 250px;
    }
    &:hover > .member-photo-hover {
      opacity: 1;
    }
  }
  &-content{
    font-size: 15px;
  }
  &-name{
    font-weight: 500;
    color: #17731b;
    padding: 10px 0;
    font-size: 20px;
  }
  &-hoppy, &-message{
    text-align: left;
    color: #747c83;
    padding-left: 17%;
  }

  .part-of-family{
    width: 90%;
    margin: auto;
    position: relative;
    height: 400px;
    margin-bottom: 50px;
    padding-top: 50px;
    margin-top: 100px;

    &_wrapper{
      position: absolute;
      right: 0;
      transform: translate(15%,-15%);
    }
    &_img{
      width: 40%;
    }
    &_text{
      font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
      line-height: 1.63;
      letter-spacing: .5px;
      bottom: 0;
      position: absolute;
      left: 20%;
      background-color: #f1f1f1;
      padding: 30px;
    }
    &_question{
      color: #4b4949;
      text-align: left;
      font-weight: 600;
    }
    &_answer{
      color: #747c83;
    }
    &_link{
      color: #e50012;
      margin-top: 10px;
    }
  }
}

